.header a {
  color: #889196;
  text-decoration: none;
  font-size: 22px;
}

.header nav {
  background-color: #222F3E;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header .link_list {
  list-style: none;
  display: flex;
  gap: 40px;
}

.header .link_list_item {
  color: #EB6108;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
}

.header .link_list_item a.active_link,
.header .link_list_item a:hover {
  color: #EB6108;
  cursor: pointer;
  position: relative;
}

.header .link_list_item a.active_link::before {
  content: "\A";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #EB6108;
  border-radius: 50%;
  display: inline-block;
  bottom: -10px;
  left: 50%;
}

.header .link_list .link_list_item_for_lang {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .link_list_item_for_lang button {
  padding: 7px;
  font-size: 22px;
  color: #889196;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.header .link_list_item_for_lang .active_lang {
  border: 2px solid #EB6108;
  color: #EB6108;
  border-radius: 50%;
}